body{
    background-image: url(imgg/Hyundai-concesionario-Busan-0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
h2{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aut img{
    width: 510px;
    height: 400px;
   
    
}
.aut{
    display: flex;
    justify-content: center;
    gap: 20px
    ;
    padding-top: 220px;
    padding-bottom: 90px;
}
footer{
    background-color: black;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    ;
& img{
    width: 300px;
    height: 100px;
}
& p{
    color: white;
    font-weight: 600;
    font-size: 11px;
    align-self: center;
    text-align: center;
    align-items: center;
}
}
.compro{
    display: flex;
    flex-direction: column;
}