body {
    background-image: url(imgg/Hyundai-concesionario-Busan-0.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    text-align: center;
    color: black;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aut img {
    width: 510px;
    height: 400px;
}

.aut {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 220px;
    padding-bottom: 90px;
}

.autos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 90px;
}

.autos img {
    width: 510px;
    height: 400px;
}

footer {
    background-color: black;
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    ;

    & img {
        width: 300px;
        height: 100px;
    }

    & p {
        color: white;
        font-weight: 600;
        font-size: 11px;
        align-self: center;
        text-align: center;
        align-items: center;
    }
}

.compro {
    display: flex;
    flex-direction: column;
}

#agregar {
    background-color: cornflowerblue;
    border-radius: 5px;
    box-shadow: 2px 2px red;
    padding: 30px;

}

.nuevascards {
    background-color: black;

    align-items: center;
    align-self: center;
    align-content: center;
    display: flex;
    justify-content: center;

    & .mas {
        align-items: center;
        align-self: center;
        align-content: center;
        display: flex;
        justify-content: center;
    }

    & p {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        font-weight: bolder;

    }
}

.Datos {
    display: flex;
    flex-direction: column;
    align-items: center;

    & input {
        text-align: center;
    }

    & .tj {
        padding: 15px;
    }
}

.btn {
    display: flex;
    gap: 22px;
    justify-content: center;
    margin-top: 50px;
}

#guardar {
    &:hover {
        transform: scale(1.2);
        transition: 1.2s;
    }
}

#aceptar {
    &:hover {
        transform: scale(1.2);
        transition: 1.2s;
    }
}

.imgproductos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    & img {
        width: 100%;
        height: 500px;
    }
}
#opinion{
    
    padding: 0;
       margin: 0;
  
    
    & .caja{
        font-size: 25px;
        font-weight: bolder;
        color: brown;
       padding: 0;
       margin: 0;
      
      
    }
}

.datosdecompra {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;

    & h3 {
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    & p {
        text-align: center;
        color: rgb(1, 0, 0);
        font-weight: bolder;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}
#showproductos{
    align-items: center;
    align-self: center;
    align-content: center;
    text-align: center;
  
    background-color: black;
    & p{
        color: white;
        font-weight: 800;
        text-align: center;
    }
 
}